

/* general body */

.row {
    padding-top: 65px;
}

/* end general body */

/* navigation bar */

.navbar-default {
    background-color: #298eea;
    box-shadow: 0 0 20px 0 rgba(46, 46, 46, 0.45);
    border: 0;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: 600;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
}

.navbar-default .navbar-nav li a {
    color: #fff;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:hover {
    color: #fff;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
}

/*end navigation bar */

/* file lists */

table {
    overflow-x: hidden;
}

table thead tr th {
    border-bottom: 2px solid #298eea !important;
}

table tbody tr td {
    border-top: 0 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f6fbff;
}

.table-hover tbody tr:hover {
    background-color: #d2e8ff;
}

.tbl-icon {
    color: #14b7ec;
    font-size: 17px;
}

/* end file lists */

/* mobile */

#mobile-tbl {
    display: none;
}

@media (max-width: 786px) {
    #mobile-tbl {
        display: block;
    }
    #desktop-tbl {
        display: none;
    }
}

/* end mobile */